타임리프(th:each)의 실제 활용 예시 코드입니다.
컨트롤러에서 users라는 리스트에 사용자 3명(김구름, 멍멍이, 비숑)의 데이터를 담아 보냈다고 가정하고 작성한 HTML입니다.
## 1. 기본 반복문 예시
가장 단순하게 이름 목록을 반복해서 출력하는 방법입니다.


package groomi.groomgroom;

​

import org.springframework.stereotype.Controller;

import org.springframework.ui.Model;

import org.springframework.web.bind.annotation.GetMapping;

​

@Controller

public class HelloController {

​

    @GetMapping("hello") // 또는 "/hello" 둘 다 가능합니다.

    public String hello(Model model) {

        model.addAttribute("user", "hello!!");

        return "hello";

    }

}


-------------------------------------




<!DOCTYPE HTML>

<html xmlns:th="http://thymeleaf.org">

<head>

    <title>Hello</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>

    <!-- 문자열을 더할 때 마지막에 '를 닫아주어야 문법이 맞습니다 -->

    <p th:text="'안녕하세요. ' + ${data}">안녕하세요. 손님</p>

</body>

</html>

<ul>
  <!-- users 리스트를 반복하며, 각 데이터를 user 변수에 담습니다 -->
  <li th:each="user : ${users}" th:text="${user.name}">기본 이름</li>
</ul>
